<!--HTMLのテンプレート作成-->

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>  <!--リンク貼り付け-->
        </div>

        {% for post in posts %}  <!--htmlの動的処理-->
            <div>
                <p>published: {{post.published_date}}</p>  <!--pubulishした時間-->
                <h2><a href="">{{post.title}}</a></h2>  <!--title-->
                <p>{{post.text|linebreaksbr}}</p>  <!--内容、|linebreaksbrはテキスト中の改行を段落に変換-->
            </div>
        {% endfor %}  <!--postの数だけ繰り返し-->

    </body>
</html>