<!--HTMLのテンプレート作成-->
{% extends 'blog/base.html' %}  <!--テンプレート拡張-->

{% block content %}  <!--baseのblockの間へ追加-->
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>  <!--投稿日-->
            </div>
            <!--blog/urls.pyに書かれたname=post_detail のURLを待ち受ける-->
            <!--DBの各レコードのprimary keyを取得、postのpk-->
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>  <!--タイトル-->
            <p>{{ post.text|linebreaksbr }}</p>  <!--内容と改行-->
        </div>
    {% endfor %}
{% endblock %}
