<html>
    <head>
        <title>Ola's blog</title>  <!--ページタイトル-->
    <body>
        <div>
            <h1>ヘッダー</h1>
            <h2>サブヘッダー</h2>
            <h3>サブサブヘッダー</h3>  <!--h6まである-->
        </div>

        <div>
            <p>文章の段落</p>
            <strong>強調</strong>
            <br>  <!-- 改行は閉じタグ無しでいい-->
            <a href="https://djangogirls.org">djangogirls</a>  <!--リンク生成-->
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <ul><li>第一項目</li><li>第二項目</li></ul>  <!--リストの作成-->
        </div><!--ページ内セクション定義-->
    </body>
</html>